<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="apiSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localproxy:15535/api" binding="basicHttpBinding"
                bindingConfiguration="apiSoap" contract="kodex.apiSoap" name="apiSoap" />
        </client>
    </system.serviceModel>
</configuration>